<form name="fr" action="/Home/ShowData">
    <div>
        <label>Enter Your Name</label>
    </div>
    <div>
        <input type="text" name="nm"/>
    </div>
    <div>
        <label>Enter Your Gender</label>
    </div>
    <div>
        <input type="text" name="gn" />
    </div>
    <div>
        <lable>Enter Your Age</lable>
    </div>
    <div>
        <input type="text" name="ag" />
    </div>
    <div>
        <input type="submit" value="Submit". />
    </div>
</form>
