@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Name: @ViewBag.Name</h1>
<h1>Gender: @ViewBag.Gender</h1>
<h1>Age: @ViewBag.Age</h1>